<launch>
    <node pkg="dji_osdk_ros" type="iusl_vehicle_node" name="vehicle_node" output="screen">
        <!-- node parameters -->
        <param name="acm_name" type="string" value="/dev/ttyACM0"/>
        <param name="serial_name" type="string" value="/dev/ttyTHS2"/>
        <param name="baud_rate" type="int" value="1000000"/>
        <param name="app_id" type="int" value="1076728"/>
        <param name="app_version" type="int" value="1"/>
        <param name="align_time" type="bool" value="false"/>
        <param name="enc_key" type="string" value="5ee1c5614a147f80c183fe01b17437c041af25a4de349765bd2e55139d7f50ef"/>
        <param name="use_broadcast" type="bool" value="false"/>
    </node>
</launch>
